@charset "utf-8";
/* CSS Document */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image:url(img/%E0%B8%AA%E0%B9%84%E0%B8%A5%E0%B8%94%E0%B9%8C/bg.jpg);
  background-size:cover;
  background-position:center;
  
}


.jumbotron {
	height:600px;
	}
	
.navbar {
  margin-bottom: 20px;
}









